<settings>
  <rc_settings/>
  <dl_settings>
    <dl_settings name="Telemetry">
      <dl_setting min="0" step="1" max="3" var="telemetry_mode_Ap" shortname="Ap" values="default|minimal|extremal|raw_sensors" module="generated/periodic_telemetry"/>
      <dl_setting min="0" step="1" max="1" var="telemetry_mode_Fbw" shortname="Fbw" values="default|debug" module="generated/periodic_telemetry"/>
    </dl_settings>
    <dl_settings name="flight params">
      <dl_setting var="flight_altitude" step="10" shortname="altitude" min="0" max="1000"/>
      <dl_setting var="nav_course" step="1" min="0" max="360"/>
      <dl_setting var="nav_shift" step="5" shortname="inc. shift" module="firmwares/fixedwing/nav" min="-10" max="10" handler="IncreaseShift"/>
      <dl_setting var="autopilot_flight_time" step="1" shortname="flight time" module="autopilot" min="0" max="0" handler="ResetFlightTimeAndLaunch"/>
      <dl_setting var="nav_radius" step="10" module="firmwares/fixedwing/nav" min="-200" max="200" handler="SetNavRadius">
        <strip_button value="1" name="Circle right" icon="circle-right.png" group="circle"/>
        <strip_button value="-1" name="Circle left" icon="circle-left.png" group="circle"/>
        <key_press value="1" key="greater"/>
        <key_press value="-1" key="less"/>
      </dl_setting>
    </dl_settings>
    <dl_settings name="mode">
      <dl_setting var="pprz_mode" values="MANUAL|AUTO1|AUTO2|HOME|NOGPS|FAILSAFE" step="1" module="autopilot" min="0" max="2"/>
      <dl_setting var="launch" step="1" min="0" max="1"/>
      <dl_setting var="kill_throttle" step="1" min="0" max="1"/>
      <dl_setting var="gps.reset" step="1" shortname="GPS reset" module="subsystems/gps" min="0" max="2" handler="Reset"/>
    </dl_settings>
    <dl_settings name="control">
      <dl_settings name="trim">
        <dl_setting var="ap_state->command_roll_trim" step="1" shortname="roll_trim" param="COMMAND_ROLL_TRIM" module="inter_mcu" min="-960" max="960"/>
        <dl_setting var="ap_state->command_pitch_trim" step="1" shortname="pitch_trim" param="COMMAND_PITCH_TRIM" min="-960" max="960"/>
        <dl_setting var="ap_state->command_yaw_trim" step="1" shortname="yaw_trim" param="COMMAND_YAW_TRIM" min="-9000" max="9000"/>
      </dl_settings>
      <dl_settings name="attitude">
        <dl_setting var="h_ctl_roll_pgain" step="250" shortname="roll_pgain" module="stabilization/stabilization_attitude" min="000" max="25000"/>
        <dl_setting var="h_ctl_roll_max_setpoint" step="0.05" shortname="max_roll" param="H_CTL_ROLL_MAX_SETPOINT" min="0" max="1"/>
        <dl_setting var="h_ctl_pitch_pgain" step="250" shortname="pitch_pgain" param="H_CTL_PITCH_PGAIN" min="0" max="25000"/>
        <dl_setting var="h_ctl_pitch_dgain" step="10" shortname="pitch_dgain" param="H_CTL_PITCH_DGAIN" min="0" max="50000"/>
        <dl_setting var="h_ctl_elevator_of_roll" step="100" shortname="elevator_of_roll" param="H_CTL_ELEVATOR_OF_ROLL" min="0" max="5000"/>
        <dl_setting var="h_ctl_aileron_of_throttle" step="100" shortname="aileron_of_throttle" min="0" max="5000"/>
        <dl_setting var="h_ctl_roll_attitude_gain" step="250" shortname="roll attitude pgain" param="H_CTL_ROLL_ATTITUDE_GAIN" min="0" max="15000"/>
        <dl_setting var="h_ctl_roll_rate_gain" step="250" shortname="roll rate gain" param="H_CTL_ROLL_RATE_GAIN" min="0" max="15000"/>
      </dl_settings>
      <dl_settings name="alt">
        <dl_setting var="v_ctl_altitude_pgain" step="0.01" shortname="alt_pgain" param="V_CTL_ALTITUDE_PGAIN" min="0" max="0.2"/>
      </dl_settings>
      <dl_settings name="auto_throttle">
        <dl_setting var="v_ctl_auto_throttle_cruise_throttle" step="0.05" shortname="cruise throttle" param="V_CTL_AUTO_THROTTLE_NOMINAL_CRUISE_THROTTLE" module="guidance/guidance_v" min="0.0" max="1" handler="SetCruiseThrottle">
          <strip_button value="0.1" name="Loiter" group="dash_loiter"/>
          <strip_button value="0" name="Cruise" group="dash_loiter"/>
          <strip_button value="1" name="Dash" group="dash_loiter"/>
        </dl_setting>
        <dl_setting var="v_ctl_pitch_trim" unit="rad" step="0.1" shortname="pitch trim" param="V_CTL_PITCH_TRIM" min="-15" max="15" alt_unit="deg"/>
        <dl_setting var="v_ctl_auto_throttle_pgain" step="0.005" shortname="throttle_pgain" param="V_CTL_AUTO_THROTTLE_PGAIN" min="0.00" max="0.05"/>
        <dl_setting var="v_ctl_auto_throttle_igain" step="0.05" shortname="throttle_igain" param="V_CTL_AUTO_THROTTLE_IGAIN" min="0.0" max="1"/>
        <dl_setting var="v_ctl_auto_throttle_dgain" step="0.1" shortname="throttle_dgain" min="0.0" max="2"/>
        <dl_setting var="v_ctl_auto_throttle_climb_throttle_increment" step="0.01" shortname="throttle_incr" param="V_CTL_AUTO_THROTTLE_CLIMB_THROTTLE_INCREMENT" min="0" max="1"/>
        <dl_setting var="v_ctl_auto_throttle_pitch_of_vz_pgain" step="0.01" shortname="pitch_of_vz" param="V_CTL_AUTO_THROTTLE_PITCH_OF_VZ_PGAIN" min="0" max="1"/>
        <dl_setting var="v_ctl_auto_throttle_pitch_of_vz_dgain" step="0.1" shortname="pitch_of_vz (d)" min="-10" max="10"/>
      </dl_settings>
      <dl_settings name="auto_pitch">
        <dl_setting var="v_ctl_auto_pitch_pgain" step="0.01" shortname="pgain" param="V_CTL_AUTO_PITCH_PGAIN" min="0.01" max="0.1"/>
        <dl_setting var="v_ctl_auto_pitch_igain" step="0.01" shortname="igain" param="V_CTL_AUTO_PITCH_IGAIN" min="0" max="1"/>
      </dl_settings>
      <dl_settings name="nav">
        <dl_setting var="h_ctl_course_pgain" step="0.05" shortname="course pgain" param="H_CTL_COURSE_PGAIN" min="0.1" max="3"/>
        <dl_setting var="h_ctl_course_dgain" step="0.1" shortname="course dgain" param="H_CTL_COURSE_DGAIN" min="0" max="2"/>
        <dl_setting var="h_ctl_course_pre_bank_correction" step="0.05" shortname="pre bank cor" param="H_CTL_COURSE_PRE_BANK_CORRECTION" min="0.1" max="2"/>
        <dl_setting var="nav_glide_pitch_trim" step="0.05" shortname="glide pitch trim" param="NAV_GLIDE_PITCH_TRIM" min="0.0" max="1"/>
        <dl_setting var="h_ctl_roll_slew" step="0.01" shortname="roll slew" min="0.02" max="1"/>
        <dl_setting var="nav_radius" step="5" min="-500" max="500"/>
        <dl_setting var="nav_course" step="5" min="0" max="359"/>
        <dl_setting var="nav_mode" step="1" min="1" max="2"/>
        <dl_setting var="nav_climb" step="0.5" min="-5" max="5"/>
        <dl_setting var="fp_pitch" step="1" min="-15" max="15"/>
        <dl_setting var="nav_shift" step="5" shortname="inc. shift" module="firmwares/fixedwing/nav" min="-50" max="50" handler="IncreaseShift"/>
        <dl_setting var="nav_ground_speed_setpoint" step="0.5" shortname="ground speed" min="5" max="50"/>
        <dl_setting var="nav_ground_speed_pgain" step="0.01" shortname="ground speed pgain" min="0" max="0.2"/>
        <dl_setting var="nav_survey_shift" step="5" min="50" max="500"/>
      </dl_settings>
    </dl_settings>
    <dl_settings name="tow">
      <dl_setting var="snav_desired_tow" step="1" module="nav/nav_smooth" min="0" max="604800"/>
    </dl_settings>
    <dl_settings name="P_Survey">
      <dl_setting var="Poly_Size" type="uint8_t" step="1" shortname="Size" module="modules/nav/nav_survey_poly_osam" min="0" max="20"/>
      <dl_setting var="Poly_Sweep" type="float" step="1" shortname="Sweep" module="modules/nav/nav_survey_poly_osam" min="0" max="500"/>
    </dl_settings>
    <dl_settings name="ir">
      <dl_setting var="infrared.roll_neutral" step="0.5" shortname="roll_neutral" param="IR_ROLL_NEUTRAL_DEFAULT" min="-15" max="15" alt_unit="deg"/>
      <dl_setting var="infrared.pitch_neutral" step="0.5" shortname="pitch_neutral" param="IR_PITCH_NEUTRAL_DEFAULT" min="-15" max="15" alt_unit="deg"/>
      <dl_setting var="infrared.lateral_correction" step="0.1" shortname="360_lat_corr" param="IR_LATERAL_CORRECTION" module="subsystems/sensors/infrared" min="0." max="1.5"/>
      <dl_setting var="infrared.longitudinal_correction" step="0.1" shortname="360_log_corr" param="IR_LONGITUDINAL_CORRECTION" min="0." max="1.5"/>
      <dl_setting var="infrared.vertical_correction" step="0.1" shortname="360_vert_corr" param="IR_VERTICAL_CORRECTION" min="0.5" max="1.5"/>
      <dl_setting var="infrared.correction_left" step="0.1" shortname="corr_left" param="IR_CORRECTION_LEFT" min="0.5" max="1.5"/>
      <dl_setting var="infrared.correction_right" step="0.1" shortname="corr_right" param="IR_CORRECTION_RIGHT" min="0.5" max="1.5"/>
      <dl_setting var="infrared.correction_up" step="0.1" shortname="corr_up" param="IR_CORRECTION_UP" min="0.5" max="1.5"/>
      <dl_setting var="infrared.correction_down" step="0.1" shortname="corr_down" param="IR_CORRECTION_DOWN" min="0.5" max="1.5"/>
    </dl_settings>
    <dl_settings name="airspeed">
      <dl_setting var="nav_airspeed_nominal_setting" step="0.5" shortname="nominal" min="5" max="50"/>
      <dl_setting var="nav_airspeed_tracking_setting" step="0.5" shortname="tracking" min="5" max="50"/>
      <dl_setting var="nav_airspeed_landing_setting" step="0.5" shortname="landing" min="5" max="50"/>
      <dl_setting var="nav_takeoff_pitch_setting" unit="rad" step="0.5" shortname="takeoff_pitch" min="-10" max="80" alt_unit="deg"/>
    </dl_settings>
    <dl_settings name="Modules">
      <dl_setting min="2" max="3" step="1" var="openlog_periodic_2Hz_openlog_status" shortname="periodic_2Hz_openlog" values="START|STOP"/>
      <dl_setting min="2" max="3" step="1" var="digital_cam_servo_servo_cam_ctrl_periodic_status" shortname="servo_cam_ctrl_periodic" values="START|STOP"/>
    </dl_settings>
  </dl_settings>
</settings>
